/*
  Inject Tailwind's base styles and use the Tailwind Macro to use
  the rest of Tailwind's classes in the project
*/
@tailwind base;

h1 {
  @apply text-4xl;
  font-style: semibold;
}
h2 {
  @apply text-2xl;
  font-style: semibold;
}
h3 {
  @apply text-lg;
  font-style: semibold;
}
a {
  @apply underline;
}

@tailwind components;

@tailwind utilities;

* { 
  box-sizing: border-box;
}